<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=yes' />
  <title>Occupied BNB</title>
  <link href='style.css' rel='stylesheet' />
</head>
<body>

  <section>
    <a name="image"></a>
    <div id="image-app">
      <div id="images" @mousemove="updateTooltip" @mouseleave="setSelected(null)">
        <div class="image-holder" v-for="img in images">
          <img class="bnb-image" :src="img.src" @mouseenter="setSelected(img)">
        </div>

        <div class="tooltip" ref="tooltip" v-if="selected" :style="{top: ty + 'px', left: tx + 'px'}">
          <div v-show="imgLoaded">
            <img ref="bigImage" @load="onImgLoad" :src="selected.src.replace('thumbs', 'images')">
            <p v-if="selected.desc" class="caption"><span>{{selected.desc}}</span></p>
          </div>
          <div v-if="!imgLoaded"><p>Loading</p></div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <script>
    function isMobileDevice() {
      return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1);
    };

    let mobile = isMobileDevice();

    let nixed = [
      522932432,
      192125023,
      459298663,
      459314113,
    ];

    let imageApp = new Vue({
      el: '#image-app',
      data: {
        images: [],
        showTooltip: true,
        tx: 0,
        ty: 0,
        selected: null,
        listings: [],
        imgLoaded: false,
        imgWidth: 0,
        imgHeight: 0,
      },

      created: function() {
        fetch('clean_listings.json').then(response => response.json()).then((data) => {
          let images = [];
          data.forEach((d) => {
            let desc = d.summary.split('.');
            d.images.forEach((i) => {
              let _desc = desc[Math.floor(Math.random()*desc.length)];
              if (nixed.indexOf(i[0] == -1)) {
                images.push({src: 'thumbs/' + i[0] + '.jpg', order: i[1], id: d.id, desc: _desc})
              } else {
                console.log('remove', i[0]);
              }
            });
          });
          images = images.sort((a, b) => {
            return a.order - b.order;
          });
          this.images = images;
        });
      },

      methods: {
        updateTooltip: function(e) {
          if (!this.$refs.tooltip || !this.selected) return false;

          let tw = this.$refs.tooltip.clientWidth;
          let th = this.$refs.tooltip.clientHeight;

          if (e.clientX + tw > window.innerWidth - 10) {
            this.tx = e.pageX - tw - 10;
          } else {
            this.tx = e.clientX + 10;
          }
          if (e.clientY + th > window.innerHeight - 10) {
            this.ty = e.pageY - th - 10;
          } else {
            this.ty = e.pageY + 10;
          }
        },

        onImgLoad: function(e) {
          this.imgLoaded = true;
        },

        setSelected: function(src) {
          if (!mobile) this.selected = src;
        }
      }
    });

  </script>
</body>

</html>
