<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=yes' />

  <title>Occupied BNB</title>

  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
  <link href='style.css' rel='stylesheet' />
</head>
<body>
  <nav>
    <h1 class="logo">Occupied BnB<span>Airbnb rentals in Israeli settlements</span></h1>
    <a href="#map">Map</a>
    <a href="#text">Text</a>
    <a href="#image">Image</a>
  </nav>

  <section>
    <a name="map"></a>
    <div id="map"></div>
  </section>

  <section>
    <a name="text"></a>
    <div id="text-app">
      <div class="text-container">
        <h1 id="text-holder">{{lines[index]}}</h1>
        <div class="controls">
          <button class="icon arrow" @click="increment">&lsaquo;</button>
          <button @click="playing=!playing" class="icon">
            <span v-if="playing">&#10074;&#10074;</span>
            <span v-else>&#9658;</span>
          </button>
          <button class="icon arrow" @click="decrement">&rsaquo;</button>
        </div>
      </div>
    </div>
  </section>

  <section>
    <a name="image"></a>
    <div id="image-app">
      <div id="images" @mousemove="updateTooltip" @mouseleave="setSelected(null)">
        <div class="image-holder" v-for="img in images">
          <img class="bnb-image" :src="img.src" @mouseenter="setSelected(img)">
        </div>

        <div class="tooltip" ref="tooltip" v-if="selected" :style="{top: ty + 'px', left: tx + 'px'}">
          <div v-show="imgLoaded">
            <img ref="bigImage" @load="onImgLoad" :src="selected.src.replace('thumbs', 'images')">
            <p v-if="selected.desc" class="caption"><span>{{selected.desc}}</span></p>
          </div>
          <div v-if="!imgLoaded"><p>Loading</p></div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoic3BsYXZpZ25lIiwiYSI6ImNpejFzZGx2NDAxbW0zM21uaGE5czI2cWkifQ.6p_ecnp-5wUHJeRm0kxKxQ';

    const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/splavigne/cjt9ku9630csh1fsfzhc7o119',
      center: [35.0958150, 31.841923],
      zoom: 9.0
    });

    // map.on('load', function () {
    //   map.addLayer({
    //     "id": "settlements",
    //     "source": {
    //       type: 'vector',
    //       url: 'mapbox://splavigne.cjt93q3ql01r2mrlqg9yapfax-3r8bk'
    //     },
    //   });
    // });

    map.addControl(new mapboxgl.NavigationControl(), 'bottom-right');
    map.scrollZoom.disable();

    function setMarker(p) {
      let url = `https://www.airbnb.com/rooms/${p.id}`;
      let html = `
        <h3>
          <a target="_blank" href="${url}">${p.name}</a>
        </h3>
        <p>
          <b>Price: $${p.price}</b>
        </p>
        <p>
          <a target="_blank" href="${url}"><img src="images/${p.images[0][0]}.jpg"></a>
        <p>
        <p>
          ${p.summary}
        <p>
          <a target="_blank" href="${url}">View Listing</a>
        </p>
      `;

      let icon = document.createElement('img');
      icon.src = 'marker.png';
      icon.style.width = '30px';
      // icon.width = "30px";
      let popup = new mapboxgl.Popup().setHTML(html);
      let marker = new mapboxgl.Marker(icon)
      // let marker = new mapboxgl.Marker()
        .setLngLat([p.lng, p.lat])
        .setPopup(popup)
        .addTo(map);

      popup.on('open', function(e){
        let bounds = map.getBounds();
        let h = bounds._ne.lat - bounds._sw.lat
        map.easeTo({center: [p.lng, p.lat - h * .3]});
      });
    }

    let imageApp = new Vue({
      el: '#image-app',
      data: {
        images: [],
        showTooltip: true,
        tx: 0,
        ty: 0,
        selected: null,
        listings: [],
        imgLoaded: false,
        imgWidth: 0,
        imgHeight: 0,
      },

      created: function() {
        fetch('clean_listings.json').then(response => response.json()).then((data) => {
          let images = [];
          data.forEach((d) => {
            // setMarker(d);

            let desc = d.summary.split('.');
            d.images.forEach((i) => {
              let _desc = desc[Math.floor(Math.random()*desc.length)];
              images.push({src: 'thumbs/' + i[0] + '.jpg', order: i[1], id: d.id, desc: _desc})
            });
          });
          images = images.sort((a, b) => {
            return a.order - b.order;
          });
          this.images = images;
        });
      },

      methods: {
        updateTooltip: function(e) {
          if (!this.$refs.tooltip || !this.selected) return false;

          let tw = this.$refs.tooltip.clientWidth;
          let th = this.$refs.tooltip.clientHeight;

          if (e.clientX + tw > window.innerWidth - 10) {
            this.tx = e.pageX - tw - 10;
          } else {
            this.tx = e.clientX + 10;
          }
          if (e.clientY + th > window.innerHeight - 10) {
            this.ty = e.pageY - th - 10;
          } else {
            this.ty = e.pageY + 10;
          }
        },

        onImgLoad: function(e) {
          this.imgLoaded = true;
        },

        setSelected: function(src) {
          this.selected = src;
        }
      }
    });

    let textApp = new Vue({
      el: '#text-app',
      data: {
        index: 0,
        lines: [],
        playing: true,
      },
      created: function() {
        fetch('lines.json').then(response => response.json()).then((lines) => {
          this.lines = lines;
          setInterval(this.play, 1000);
        });
      },
      methods: {
        play: function() {
          if (this.playing) {
            this.index++;
            if (this.index == this.lines.length) this.index = 0;
          }
        },
        increment: function() {
          this.playing = false;
          this.index++;
          if (this.index == this.lines.length) this.index = 0;
        },
        decrement: function() {
          this.playing = false;
          this.index--;
          if (this.index == -1) this.index = this.lines.length - 1;
        },
      }
    });
  </script>
</body>

</html>
